@page "/EmployeeManagement"

@using SalesManagementApp.Entities
@using SalesManagementApp.Models
@using SalesManagementApp.Services.Contracts
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Spinner

@inject IEmployeeManagementService EmployeeManagementService

<h3>Employee Management</h3>

<div style="max-width:900px">
  <SfGrid DataSource="employeeData">
    <GridEditSettings AllowEditing="true"></GridEditSettings>
    <GridColumns>
      <GridColumn IsPrimaryKey="true" Field="@nameof(EmployeeModel.Id)" Width="50px"></GridColumn>
      <GridColumn HeaderText="First Name" Field="@nameof(EmployeeModel.FirstName)"></GridColumn>
      <GridColumn HeaderText="Last Name" Field="@nameof(EmployeeModel.LastName)"></GridColumn>
      <GridForeignColumn HeaderText="Designation" TValue="EmployeeJobTitle"
                         Field="@nameof(EmployeeModel.EmployeeJobTitleId)"
                         ForeignDataSource="employeeJobTitleData"
                         ForeignKeyValue="Name" Width="100px">
        <EditTemplate>
          <SfDropDownList @bind-Value="@((context as EmployeeModel).EmployeeJobTitleId)"
                          ID="EmployeeJobTitleId"
                          DataSource="employeeJobTitleData"
                          TItem="EmployeeJobTitle"
                          TValue="int">
            <DropDownListFieldSettings Text="Name" Value="EmployeeJobTitleId">
            </DropDownListFieldSettings>

          </SfDropDownList>
        </EditTemplate>
      </GridForeignColumn>
      <GridColumn Field="@nameof(EmployeeModel.Gender)">
        <EditTemplate>
          <SfDropDownList DataSource="genderCollection" TItem="string" TValue="string"
                          @bind-Value="@((context as EmployeeModel).Gender)">

          </SfDropDownList>
        </EditTemplate>
      </GridColumn>
      <GridColumn HeaderText="Date of Birth" Field="@nameof(EmployeeModel.DateOfBirth)" Format="d"></GridColumn>
      <GridColumn HeaderText="Reports To" Field="@nameof(EmployeeModel.ReportToEmpId)" Width="100px"></GridColumn>
    </GridColumns>
  </SfGrid>
</div>

@code {
  private enum GenderVal
  {
    Male,
    Female,
    Other
  }
  private string[] genderCollection = Enum.GetNames ( typeof ( GenderVal ) );

  private List<EmployeeModel>? employeeData = null;
  private List<EmployeeJobTitle>? employeeJobTitleData;
  //private List<object> toolbar = new List<object> { "Add", "Edit", "Delete", "Update", "Cancel", "Search" };

  protected override async Task OnInitializedAsync ()
  {
    employeeData = await EmployeeManagementService.GetEmployees ();
    employeeJobTitleData = await EmployeeManagementService.GetJobTitles ();
  }


}
